<div class="content">
    <h2>Doctype Declaration</h2>
    <div class="highlighter-rouge">
        <pre class="highlight">
            <code>
doctype &lt;doctype name&gt; extends &lt;super type&gt;{
    schemas {
        &lt;schema name&gt; [{ &lt;property&gt; [&lt;type&gt;], ...} ]
    }

    aliases {
        &lt;alias name&gt; &lt;aliastype&gt; { &lt;alias arguments&gt;}
    }

    [crud]
}
            </code>
        </pre>
    </div>
    <ul class="options">
        <li>
            <p><code class="highlighter-rouge">&lt;doctype name&gt;</code> is the name of the document type to be declared,</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;super type&gt;</code> is the parent type of this document type (<code>document</code> by default),</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;schema name&gt;</code> is the list of schema name that this document follows. It's possible to declare inline schemas,</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;alias name&gt;</code> is the name of the aliased property,</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;aliastype&gt;</code> is the type of alias used that cane be (<code>prop</code>|<code>query</code>),</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;alias arguments&gt;</code> is the comma separated list of arguments for the alias. ,</p>
        </li>

        <li>
            <p>and as an option <code class="highlighter-rouge">&lt;crud&gt;</code> asks to generate mutations for the type.</p>
        </li>
    </ul>
    <p>The possible arguments for alias depends of the type of the alias.</p>
    <ul class="options">
        <li>
            <p>for <code class="highlighter-rouge">&lt;prop&gt;</code> it is the name of the pointed propertym for instance <code>dc:title</code>,</p>
        </li>
        <li>
            <p>for <code class="highlighter-rouge">&lt;query&gt;</code> it is the  <code>nxql</code> query that resolve the property, followed optionally by the type of the items returned by the query,</p>
        </li>
    </ul>
    
    <h2>Schemas Declaration</h2>
    <div class="highlighter-rouge">
        <pre class="highlight">
            <code>
schema &lt;schema name&gt; {
    &lt;property name&gt; [&lt;property type&gt;],
    &lt;property name&gt; [&lt;property type&gt;]
}
            </code>
        </pre>
    </div>
    <ul class="options">
        <li>
            <p><code class="highlighter-rouge">&lt;schema name&gt;</code> is the name of the schema,</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;property name&gt;</code> type of the property. If ommitted it's <code>string</code> by default.</p>
        </li>
    </ul>


    
    <h2>Queries Declaration</h2>
    <div class="highlighter-rouge">
        <pre class="highlight">
            <code>
queries  {
&lt;query name&gt;[(&lt;params&gt;)][:&lt;return type&gt;] "&lt;nxql&gt;"
}
            </code>
        </pre>
    </div>
    <ul class="options">
        <li>
            <p><code class="highlighter-rouge">&lt;query name&gt;</code>is the name of the query as it will be used in GraphQL</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;params&gt;</code> is a comma separated list of parameter names,</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;return type&gt;</code> is type of the item returned by the query (by default <code>document</code>,</p>
        </li>
        <li>
            <p><code class="highlighter-rouge">&lt;nxql&gt;</code> is the Nuxeo query expressed in NXQL.</p>
        </li>
    </ul>

    
<div class="logo-background"></div>
